@model VotadorWeb.ViewModels.RecursoViewModel

@{
    ViewData["Title"] = "Recurso";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Editar">
          
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4 form-group">
                <label asp-for="TituloRecurso" class="control-label"></label>
                <textarea asp-for="TituloRecurso" cols="40" class="form-control" rows="3"></textarea>
                @*<input asp-for="TituloRecurso" class="form-control" rows="5" />*@
                <span asp-validation-for="TituloRecurso" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
                <label asp-for="DescricaoRecurso" class="control-label"></label>
                <textarea asp-for="DescricaoRecurso" class="form-control" cols="40" rows="20"></textarea>
                @*<input asp-for="DescricaoRecurso" class="form-control" />*@
                <span asp-validation-for="DescricaoRecurso" class="text-danger"></span>
            </div>
            <div class="col-md-2 form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn" supress-by-claim-name="Recurso" supress-by-claim-value="Editar" asp-controller="RegistroVotacoes" asp-action="Create" asp-route-id=""><spam class="fa fa-pencil-alt"></a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
